# WordPress default ignores
*.log
/wp-config.php
/wp-content/advanced-cache.php
/wp-content/backup-db/
/wp-content/backups/
/wp-content/blogs.dir/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/wp-cache-config.php
/wp-content/plugins/hello.php
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

# Custom ignores
/.user.ini
/index.php
/liesmich.html
/podcasts/
/robots.txt
/wordfence-waf.php
/wp-activate.php
/wp-admin/
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-content/index.php
/wp-content/languages/
/wp-content/plugins_old/
/wp-content/plugins/akismet/
/wp-content/plugins/black-studio-tinymce-widget/
/wp-content/plugins/child-theme-configurator/
/wp-content/plugins/contact-form-7/
/wp-content/plugins/database-browser/
/wp-content/plugins/debug-this/
/wp-content/plugins/duplicator/
/wp-content/plugins/elementor/
/wp-content/plugins/events-calendar-pro.3.12.6.zip
/wp-content/plugins/file-manager/
/wp-content/plugins/google-captcha/
/wp-content/plugins/header-footer-elementor/
/wp-content/plugins/html-editor-syntax-highlighter/
/wp-content/plugins/index.php
/wp-content/plugins/invisible-recaptcha/
/wp-content/plugins/jetpack/
/wp-content/plugins/layerslider/
/wp-content/plugins/obfuscate-email/
/wp-content/plugins/ocean-custom-sidebar/
/wp-content/plugins/ocean-elementor-widgets/
/wp-content/plugins/ocean-extra/
/wp-content/plugins/ocean-footer-callout/
/wp-content/plugins/ocean-hooks/
/wp-content/plugins/ocean-modal-window/
/wp-content/plugins/ocean-portfolio/
/wp-content/plugins/ocean-posts-slider/
/wp-content/plugins/ocean-pro-demos/
/wp-content/plugins/ocean-product-sharing/
/wp-content/plugins/ocean-side-panel/
/wp-content/plugins/ocean-social-sharing/
/wp-content/plugins/ocean-sticky-footer/
/wp-content/plugins/ocean-sticky-header/
/wp-content/plugins/plugin-notes/
/wp-content/plugins/podlove-podcasting-plugin-for-wordpress/
/wp-content/plugins/scripts-n-styles/
/wp-content/plugins/sermon-manager-for-wordpress/
/wp-content/plugins/shariff-sharing/
/wp-content/plugins/svg-support/
/wp-content/plugins/the-events-calendar/
/wp-content/plugins/tinymce-advanced/
/wp-content/plugins/updraftplus/
/wp-content/plugins/vamtam-love-it/
/wp-content/plugins/vamtam-push-menu/
/wp-content/plugins/vamtam-sermons/
/wp-content/plugins/version-info/
/wp-content/plugins/w3-total-cache/
/wp-content/plugins/woocommerce/
/wp-content/plugins/wordfence/
/wp-content/plugins/wordpress-seo/
/wp-content/plugins/wp-file-manager/
/wp-content/plugins/wp-nested-pages/
/wp-content/plugins/wp-php-console/
/wp-content/plugins/wp-retina-2x/
/wp-content/plugins/add-from-server/
/wp-content/plugins/admin-css-mu/
/wp-content/plugins/customize-pane-resizer/
/wp-content/plugins/enhanced-media-library/
/wp-content/plugins/link-to-bible/
/wp-content/themes/church-event/
/wp-content/themes/index.php
/wp-content/themes/oceanwp/
/wp-content/updraft/
/wp-content/vamtam/
/wp-content/w3tc-config/
/wp-content/wflogs/
/wp-content/db.php
/wp-cron.php
/wp-includes/
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-snapshots/
/wp-trackback.php
/wp.tar
/xmlrpc.php
/.tmb
